.hp-container {
    width: 100%;
    height: 100%;
}

.hp-side-bar {

    background-color: rgb(24, 23, 23);
    border-top: 1px solid white;
    border-right: 4px solid white;
    width: fit-content;
    height: 900px;
    padding: 1rem;
    text-align: right;




}


.icon {
    color: white;
    font-size: 30px;

}

.hp-sb-list {
    display: grid;
    gap: 3rem;
    justify-items: center;
}

.hp-sb-list a{
    color: #E5E9EC;
    font-weight: bold;
    font-size: 20px;


}
