.hp-container {
    width: 100%;
    height: 100%;
}

.hp-side-bar {
  text-align: center;



}


.icon {
    color: #45A29E;
    font-size: 30px;


}

.hp-sb-list {
   display: grid;
   gap: 10rem;
   margin-top: 5rem;





}

.hp-sb-list a{
    color: #66FCF1;
    text-align: center;
    font-size: 50px;
    box-shadow: 0px 90px 300px 70px;
    background-color: black;
    border-radius: 100px;
    width: 100%;
    padding: 20px;
    transition: color 1s ease-in-out;


}

.hp-sb-list a:hover {
    color: rgb(31, 190, 111);
    transition: color 1s ease-in-out;
}
