.tfc-container h1{
    color: #66FCF1;
    font-size: 5rem;
    font-weight: lighter;
}

.tfc-container {
    text-align: center;
    box-shadow: 0px 0px 500px 100px #267a75;
    width: 100%;
    background-color: rgb(6, 35, 34);
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    margin-top: 3rem;
    padding-bottom: 3rem;
}

.captures-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 25%);
    justify-content: space-evenly;
    gap: 2rem;


}

.captures-wrapper li {
    display: grid;
    font-size: 18px;
    gap: 1rem;
    text-align: center;

}

.captures-wrapper p {
    color: white;

}

.captures-wrapper span {
    color: rgb(48, 241, 145);
    text-decoration: underline;
}

#capture-image {
    width: 100%;
    margin: 0 auto;
}

#transfer-btn {
    cursor: pointer;
    border: 2px solid #f2f2f3;
    background-color: black;
    color: #66FCF1;
    padding: .5rem;

}
