.webcam-page-container {
    background-color: black;
}

#webcam-wrapper {
    display: flex;
    justify-content: center;
    background-color: grey;

}

.web-capture-btns {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 1rem;
    background-color: rgb(24, 23, 23);;
    border-top: 2px solid white;

}

.web-capture-btns button {
    padding: 5px;
    width: 25%;
    border: 3px solid grey;
    font-weight: bold;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 1rem;
    background-color: black;
    color: white;

}

.camera {
    border-left: 5px solid black;
    border-right: 5px solid black;
}

#image-capture{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;

}

#image-capture button {
    padding: 5px;
    width: 25%;
    border: 3px solid grey;
    font-weight: bold;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 1rem;
    background-color: black;
    color: white;

}
