
* {
    margin: 0px;
    padding: 0px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    color: #E5E9EC;
}

body {
    background-color: black;
}
#main-header {
    text-align: center;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}
