
.profile-dropdown {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  width: 50%;
  height: 5%;
  border-bottom-left-radius: 25px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  padding: 5px;
}

.nav-container {
  background-color: rgb(24, 23, 23);
  color: #E5E9EC;
  border-bottom: 2px solid white;

}

.nav-list {
  display: flex;
  justify-content: space-between;
  padding: 1rem;


}

.nav-list a {
  font-weight: bold;
  font-size: 20px;
  color: #E5E9EC;
}

#nav-title {
  margin-top: 1rem;

}

#nav-title h1{
  color: #E5E9EC;
  text-align: center;
  padding: 1rem;



}

.nav-search-bar {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  margin-bottom: 1rem;

}

.nav-search-bar input {
  width: 50%;
  border: 3px solid black;
  border-radius: 20px;
  padding: 5px;
  color: black;
  font-weight: bold;

}

.nav-search-bar label{
  font-size: 18px;
  font-weight: bold;
}

.nav-search-text {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 1rem;
  font-size: 14px;
  padding-bottom: 1rem;
}

#profile-icon {
  color: white;
  background-color: rgb(24, 23, 23);
  font-size: 20px;
}
